@import "tailwindcss";
#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: aliceblue;
 
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #e99802; /* Color de fondo de la selección */
  color: #000000;
}